<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Global Configuration -->
	<variable name="logDir" value="${basedir}/logs" />

	<targets>
		<!-- Write logs to a file -->
		<target name="file" xsi:type="File" fileName="${logDir}/application.log"
				layout="${longdate} | ${level} | ${message} ${exception}" />

		<!-- Write logs to the console -->
		<target name="console" xsi:type="Console" layout="${longdate} | ${level} | ${message}" />
	</targets>

	<rules>
		<!-- Log everything from Info level and above to file and console -->
		<logger name="*" minlevel="Info" writeTo="file,console" />
	</rules>
</nlog>